APP_NAME=Freight
APP_ENV=local
APP_KEY=base64:g3K1P2LOAfli/TC4Rho+2Covpgx0ReIs3MsFodayB7w=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://hr3.axleshift.com
FRONTEND_URL=https://hr3.axleshift.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=freight
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=30
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=3a6b2ae499c3e6
MAIL_PASSWORD=9ba10da3cdb8f8
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="HR3@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

MINIFY_ENABLED=true
MINIFY_ASSETS_ENABLED=false
MINIFY_CSS_SEMICOLON=false
MINIFY_JS_SEMICOLON=false
MINIFY_REMOVE_COMMENTS=true
MINIFY_OBFUSCATE=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

 BROADCAST_DRIVER=pusher
 PUSHER_APP_ID=your_pusher_app_id
 PUSHER_APP_KEY=your_pusher_app_key
 PUSHER_APP_SECRET=your_pusher_app_secret
 PUSHER_APP_CLUSTER=your_pusher_app_cluster